body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #1a1a1a;
}

md-filled-button {
  --md-filled-button-container-height: 40px;
  --md-filled-button-label-text-size: 0.95rem;
  text-transform: none;
}

*:not(md-icon) {
  font-family: 'Inter', sans-serif !important;
}

md-icon {
  font-size: 24px;
}

span {
  font-size: 24px;
}